<table class="table table-hover" id="table">
	<thead>
		<th>#</th>
		<th>id</th>
		<th>Campana</th>
		<th>Lista</th>
		<th>Enviado</th>
		<th>Salida</th>
		<th>#</th>
	</thead>
	<tbody>
		<% salida.forEach(function(el,index){ %> 
		<tr>
			<td><%=: index +1 %></td>
			<td><%=: el.id %></td>
			<td><%=: el.campana %></td>
			<td><%=: el.lista %></td>
			<td> <% if  (el.enviado == 1 ){ %>
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				<% }else{ %>
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				<% } %>
			</td>
			<td><%=: el.createdAt | cDate %></td>
			<td><a href="/Campana/Emails/<%=: el.id %>" class="btn btn-info" role="button" >VER</a></td>
		</tr>
		<% }); %>
		
	</tbody>
</table>